In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder,MinMaxScaler
import pandas as pd
import tensorflow as tf
import os
from tensorflow.keras.callbacks import ModelCheckpoint
import pandas as pd

In [3]:
df = pd.read_excel('SPY500_stock_price_GDP_IR.xlsx', sheet_name='SPY500_stock_price')

In [4]:
df['Date'] = pd.to_datetime(df['Date'])

In [5]:
df["Date_n"] = pd.to_numeric(df.Date)/86400000000000

In [6]:
data = df.drop(['Date_Text','Date','Open','High','Low','Adj Close','Volume','Month','Day','Year','Quarter','GDP_Change','Date_n'],axis=1)

In [7]:
data

,Close,GDP_Change_PC,GDP,Interest_1M,DXY,UR,All Emp Total Nonfarm,Fredgraph,FEDFUNDS
0,43.937500,0.00729,6729.5,0.00,90.470001,7.1,110044,3.24675,3.03
1,44.968750,0.00729,6729.5,0.00,93.559998,7.1,110044,3.24675,3.03
2,44.593750,0.00729,6729.5,0.00,94.349998,7.1,110044,3.24675,3.03
3,43.562500,0.00729,6729.5,0.00,94.379997,7.1,110044,3.24675,3.03
4,44.406250,0.00729,6729.5,0.00,92.650002,7.1,110044,3.24675,3.03
...,...,...,...,...,...,...,...,...,...
1557,406.910004,0.01637,26145.0,4.11,106.680000,3.7,153332,8.22736,2.33
1558,393.279999,0.01637,26145.0,3.93,105.290001,3.7,153332,8.22736,2.33
1559,383.269989,0.01637,26145.0,3.86,105.129997,3.7,153332,8.22736,2.33
1560,382.910004,0.01637,26145.0,3.95,104.720001,3.7,153332,8.22736,2.33
1561,382.429993,0.01637,26145.0,3.95,104.720001,3.7,153332,8.22736,2.33

In [8]:
data

,Close,GDP_Change_PC,GDP,Interest_1M,DXY,UR,All Emp Total Nonfarm,Fredgraph,FEDFUNDS
0,43.937500,0.00729,6729.5,0.00,90.470001,7.1,110044,3.24675,3.03
1,44.968750,0.00729,6729.5,0.00,93.559998,7.1,110044,3.24675,3.03
2,44.593750,0.00729,6729.5,0.00,94.349998,7.1,110044,3.24675,3.03
3,43.562500,0.00729,6729.5,0.00,94.379997,7.1,110044,3.24675,3.03
4,44.406250,0.00729,6729.5,0.00,92.650002,7.1,110044,3.24675,3.03
...,...,...,...,...,...,...,...,...,...
1557,406.910004,0.01637,26145.0,4.11,106.680000,3.7,153332,8.22736,2.33
1558,393.279999,0.01637,26145.0,3.93,105.290001,3.7,153332,8.22736,2.33
1559,383.269989,0.01637,26145.0,3.86,105.129997,3.7,153332,8.22736,2.33
1560,382.910004,0.01637,26145.0,3.95,104.720001,3.7,153332,8.22736,2.33
1561,382.429993,0.01637,26145.0,3.95,104.720001,3.7,153332,8.22736,2.33

In [9]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

# Split the data into training and testing sets
X = data[['FEDFUNDS', 'UR', 'GDP', 'DXY', 'Fredgraph']]
y = data['Close']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the linear regression model
lr = LinearRegression()
lr.fit(X_train, y_train)

# Make predictions on the test set
y_pred = lr.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print('Mean squared error:', mse)
print('R2 score:', r2)

Mean squared error: 827.8697483044807
R2 score: 0.904967254478763